body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
    font-size: 50px;
    font-weight: bold;
}

header {
    background-color: rgb(15, 236, 236);
    margin: 0px;
    border: 0px;
    padding: 0px;  
}

.header-container {
    color: rgb(25, 51, 77);
    text-align: center;
    padding: 15px;  
}

.why {
    background-color: rgb(236, 15, 181);
    margin: 0px;
    border: 0px;
    padding: 0px;  
}

.why-container {
    color: rgb(25, 51, 77);
    text-align: center;
    padding: 15px;
    margin: 15px;
}

.down-arrow {
    background-color: rgb(107, 190, 30);
    color: rgb(25, 51, 77);
    margin: 0px;
    border: 0px;
    padding: 0px;  
}

.down-arrow-container {
    color: rgb(25, 51, 77);
    text-align: center;
    padding: 15px;
    margin: 15px;
}

.baby-image {
    background-color: rgb(233, 132, 0);
    color: rgb(25, 51, 77);
    padding: 50px;
    text-align: center;
    margin: 0px;
    border: 0px;
}

footer {
    text-align: center;
}

p.copyright {
    font-size: 10px;
}